
/* General */
html {
  	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: white;
	font-family: monospace;
	background: var(--roseTM);
	background: var(--gradient);
	background-attachment: fixed;
}

a {
	color: var(--colorLinkSelected);
	text-decoration: underline;
}
/* end general */


.aText, .aTextSpecial {
	font-size: var(--importantText);
	color: white;
	text-decoration: none;
}
.aTextSpecial {
	color: var(--colorLinkSelected);
}

.imageLink {
	transition: scale 0.1s;
}
.imageLink:hover {
	scale: 1.1;
}


/* Website Top Bar */
.topBar {
	font-size: 200%;
	position: sticky;
	z-index: 100;
	top: 0;
	overflow: hidden;
	background-color: var(--itemBackground);
	padding: 20px;
	text-align: center;
}
.topBar a{
	color: var(--colorLinkSelected);
	padding-right: 60px;
	padding-left: 60px;
	transition: scale 0.1s;
	display: inline-block;
}
.topBar a:hover {
	scale: 1.4;
}
.topBar img {
	image-rendering: pixelated;
	width: 25px;
	/* make it blue */
	filter: brightness(0) saturate(100%) invert(83%) sepia(85%) saturate(6379%) hue-rotate(146deg) brightness(97%) contrast(90%);
}
/* end top bar */



/* Main class (holds all content not in the top bar or footer) */
.main {
	width: 90%;
	margin: auto;
}
/* end main class */



/* Name card */
.nameCard {
	padding: 10px;
	padding-top: 0;
	text-align: center;
}
.nameCard h1 {
	font-size: 120px;
	font-weight: 1;
	margin-bottom: -30px;
}
.nameCard h2 {
	margin-top: -80px;
	font-size: var(--importantText);
	font-weight: 1;
}
.nameCard h3 {
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	font-size: var(--importantText);
	font-weight: 1;
	width: 500px;
}
/* end name card */



/* Headers */
.header h1 {
	margin-top: 100px;
	font-size: 70px;
	text-align: center;
	font-weight: 1;
}
.header img {
	width: 100%;
	border-radius: 10px;
}
/* end headers */



/* Games */
.games {
	margin-top: 0;
	display: flex;
	margin-bottom: 100px;
}

.gameItem {
	margin: auto;
	margin-top: 0;
	width: 23%;
}
.gameItem img {
	width: 100%;
	border-radius: 10px;
}
.gameItem h1 {
	font-weight: 1;
	text-align: center;
	color: aliceblue;
	font-size: 45px;
}
.gameItem p {
	font-size: 25px;
}
/* end games */



/* Tags */
.cardTagsHolder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px 0px;
}

.cardTag {
	border: 2px solid;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-weight: 1;
	text-align: center;
	padding: 2px 7px;
	background-color: var(--itemBackground);
}
.cardTag[type="project-type"] {	color: #6ecfff; }
.cardTag[type="date"] {	color: #f93a9a; }
.cardTag[type="role"] { color: #ffd15b; }
.cardTag[type="tool"] {	color: #41e277; }
/* end tags */


/* About me */
.aboutMe {
	display: flex;
}
.aboutMe img, .aboutMeText {
	transition: border-color 0.15s;
	border: 5px solid var(--accentBlue);
	border-radius: 10px;
}
.aboutMe img {
	margin-top: auto;
	margin-bottom: auto;
	height: 500px;
	width: fit-content;
	margin-right: 5%;
	margin-left: 0;
}
.aboutMeText {
	margin-top: 0;
	min-height: 460px;
	white-space: normal;
	background-color: var(--itemBackground);
	padding: 20px;
}
.aboutMe img:hover, .aboutMeText:hover {
	border-color: var(--colorLinkSelected)
}
/* end about me */



/* Footer */
footer {
	text-align: center;
	margin: 0;
	margin-top: 80px;
	padding-top: 50px;
	background-color: var(--itemBackground);
	
}
.footer a {
	font-size: var(--importantText);
}
.footerLink img {
	text-decoration: none;
	transition: scale 0.1s;
}
.footerLink img:hover { 
	scale: 1.1;
}
.footerHighlighted {
	color: var(--colorLinkSelected);
	text-decoration: none;
}
.footer img {
	margin-top: 20px;
	width:100px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(5558%) hue-rotate(306deg) brightness(123%) contrast(112%);
}
/* end footer */



/* Resume */
.inPagePDF
{
	margin-top: 80px;
	text-align: center;
}
.inPagePDF iframe {
	width: 70vw;
    height: 80vw;
    max-width: 1000px;
    max-height: 1200px;

	border: none;
	
}
/* end resume */



/* Custom css for phone screens */
@media only screen and (max-width: 1270px) {

	/* adjust height and padding of top bar */
	.topBar {
		padding: 50px;
		font-size: 300%;
	}
	.topBar a {
		padding-left: 10px;
		padding-right: 10px;
	}
	.topBar img {
		width: 30px;
	}
	/* end top bar */



	/* make the rainbow lines thicker */
	.header img {
		height: 15px;
	}
	/* end rainbow lines */



	/* make games display as a vertical list */
	.games {
		display: block;
	}
	/* make games fill up more of the screen and have a gap between each one */
	.gameItem {
		width: 100%;
		margin-bottom: 200px;
	}
	.gameItem p {
		font-size: var(--importantText);
	}
	.cardTag {
		font-size: var(--importantText);
	}
	/* end games */

	.aboutMe {
		display: block;
		text-align: center;
	}
	.aboutMe img, .aboutMeText {
		border-width: 10px;
	}
	.aboutMe img {
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 50px;
		width: 50%;
		height: auto;
	}
	.aboutMeText {
		width: 95%;
		text-align: left;
}

	/* make resume wider and taller to fit mobile screen */
	.inPagePDF iframe {
		width: 100%;
		height: 100vw;
		max-width: none;
		max-height: none;

	}
	/* end resume */
}
/* end phone css */