
/*#region Variables */
:root {
	--roseTM: #a33ffb;
	--itemBackground: #1b0033;
	--colorLinkSelected: #5ce2ed;
	--accentBlue: #085fa1;

	--gradient: linear-gradient(180deg, var(--roseTM) 40%, #d96cec 100%);
}
/*#endregion variables */



/*#region General */
html {
  	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: white;
	font-family: monospace;
	font-size: 40px;
	background: var(--roseTM);
	background: var(--gradient);
	background-attachment: fixed;
}

a {
	color: var(--colorLinkSelected);
	text-decoration: underline;
}
.aText, .aTextSpecial {
	color: white;
	text-decoration: none;
}
.aTextSpecial {
	color: var(--colorLinkSelected);
}

.imageLink {
	transition: scale 0.1s;
}
.imageLink:hover {
	scale: 1.1;
}
/*#endregion general */



/*#region Top Bar */
.topBar {
	font-size: 25px;
	position: sticky;
	z-index: 100;
	top: 0;
	overflow: hidden;
	background-color: var(--itemBackground);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.topBar a{
	color: var(--colorLinkSelected);
	padding-right: 60px;
	padding-left: 60px;
	transition: scale 0.1s;
	display: inline-block;
}
.topBar a:hover {
	scale: 1.4;
}
.topBar img {
	image-rendering: pixelated;
	width: 25px;
	/* make it blue */
	filter: brightness(0) saturate(100%) invert(83%) sepia(85%) saturate(6379%) hue-rotate(146deg) brightness(97%) contrast(90%);
}
/*#endregion top bar */



/*#region Main (holds all content not in the top bar or footer) */
.main {
	width: 90%;
	margin: auto;
	justify-content: center;
}
/*#endregion main class */



/*#region Name card */
.nameCard {
	padding: 10px;
	padding-top: 0;
	text-align: center;
}
.nameCard h1 {
	font-size: 120px;
	font-weight: 1;
	margin-bottom: -80px;
}
.nameCard h2 {
	font-weight: 1;
	margin-top: -30px;
}
.nameCard h3 {
	text-align: center;
	word-break: keep-all;
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 1;
	width: 700px;
}
/*#endregion name card */



/*#region Headers */
.header img {
	width: 100%;
	border-radius: 10px;
}
.header h1 {
	margin-top: 100px;
	font-size: 70px;
	text-align: center;
	font-weight: 1;
}
/*#endregion headers */



/*#region Games */
.games {
	margin-top: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.gameItem {
	padding: 0.5%;
	background-color: #085fa1;
	margin: auto;
	margin-top: 0;
	width: 23%;
}
.gameItem img {
	width: 100%;
	border-radius: 10px;
}
.gameItem h1 {
	font-weight: 1;
	text-align: center;
	font-size: 45px;
}
.gameItem p {
	font-size: 25px;
}
/*#endregion games */



/*#region Tags */
.cardTagsHolder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px 0px;
}

.cardTag {
	border: 2px solid;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-weight: 1;
	text-align: center;
	padding: 2px 7px;
	background-color: var(--itemBackground);
}
.cardTag[type="project-type"] {	color: #6ecfff; }
.cardTag[type="date"] {	color: #f93a9a; }
.cardTag[type="role"] { color: #ffd15b; }
.cardTag[type="tool"] {	color: #41e277; }
/*#endregion tags */



/*#region About me */
.aboutMe {
	display: flex;
	margin-bottom: 100px;
}
.aboutMe img, .aboutMeText, .toolItem {
	transition: border-color 0.15s, scale 0.1s;
	border: 5px solid var(--accentBlue);
	border-radius: 10px;
}
.aboutMe img {
	margin-top: auto;
	margin-bottom: auto;
	height: 500px;
	width: fit-content;
	margin-right: 5%;
	margin-left: 0;
}
.aboutMeText {
	margin-top: 0;
	min-height: 460px;
	white-space: normal;
	background-color: var(--itemBackground);
	padding: 20px;
}
.aboutMe img:hover, .aboutMeText:hover, .toolItem:hover {
	border-color: var(--colorLinkSelected)
}
/*#endregion about me */



/*#region Tools */
.tools {
	display: flex;
	justify-content: center;
	overflow-x: visible;
	flex-wrap: wrap;
}
.toolItem {
	background-color: var(--itemBackground);
	text-align: center;
	margin-right: 20px;
	margin-top: 20px;
	padding: 10px;
	width: 200px;
}
.toolItem img {
	margin-bottom: 0;
	height: 150px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(5558%) hue-rotate(306deg) brightness(123%) contrast(112%);
}
.toolItem p {
	margin-bottom: 0;
	margin-top: 0;
}
/*#endregion Tools*/



/*#region Footer */
footer {
	text-align: center;
	margin: 0;
	margin-top: 80px;
	padding-top: 50px;
	background-color: var(--itemBackground);
}
.footerLinks img {
	transition: scale 0.1s;
	margin-top: 20px;
	width:120px;
	filter: brightness(0) saturate(100%) invert(83%) sepia(85%) saturate(6379%) hue-rotate(146deg) brightness(97%) contrast(90%);
}
.footerLinks img:hover { 
	scale: 1.1;
}
.footerLinks a {
	text-decoration: none;
}
/*#endregion footer */



/*#region Resume */
.inPagePDF
{
	margin-top: 80px;
	text-align: center;
}
.inPagePDF iframe {
	width: 70vw;
    height: 80vw;
    max-width: 1000px;
    max-height: 1200px;

	border: none;
	
}
/*#endregion resume */



/*#region Custom css for phone screens */
@media only screen and (max-width: 1270px) {

	/*#region top bar */
	.topBar {
		padding: 50px;
		font-size: 40px;
	}
	.topBar a {
		padding-left: 10px;
		padding-right: 10px;
	}
	.topBar img {
		width: 30px;
	}
	/*#endregion top bar */



	/*#region rainbow lines */
	.header img {
		height: 15px;
	}
	/*#endregion rainbow lines */



	/*#region Games */
	.games {
		display: block;
	}
	.gameItem {
		width: 100%;
		margin-bottom: 200px;
	}
	.gameItem p {
		font-size: 40px;
	}
	.cardTag {
		font-size: 40px;
	}
	/*#endregion games */

	/*#region About me  */
	.aboutMe {
		display: block;
		text-align: center;
	}
	.aboutMe img, .aboutMeText {
		border-width: 10px;
	}
	.aboutMe img {
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 50px;
		width: 50%;
		height: auto;
	}
	.aboutMeText {
		width: 95%;
		text-align: left;
	}
	/*#endregion about me */

	/*#region Resume */
	.inPagePDF iframe {
		width: 100%;
		height: 100vw;
		max-width: none;
		max-height: none;

	}
	/*#endregion resume */
}
/*#endregion phone css */