:root {
/* Colors */
	--roseTM: #a33ffb;
	--itemBackground: #1b0033;
	--itemBackgroundHovered: #20093B;
	/* --colorAccent: #C88AFF; */
	--colorAccent: #cd8de8;
	--colorLinkSelected: #5ce2ed;
	--accentBlue: #085fa1;

	--gradient: linear-gradient(180deg, var(--roseTM) 10%, var(--colorAccent) 100%);
/* end colors */


/* Sizes */
	--importantText: 40px;
/* end sizes */
}